**/.DS_Store
README.md

{{- if ne .chezmoi.os "darwin" }}
Application Support/
{{- end }}

{{- if eq (env "REMOTE_CONTAINERS") "true" }}
# devcontainer は自動でホストの .gitconfig をコンテナ内にコピーするため、chezmoi apply の対象から外す
/.gitconfig
{{- end }}
