[user]
	name = {{ (bitwardenFields "item" "97078a5b-3219-4929-a1fd-b40e0068775a").user_name.value }}
	email = {{ (bitwardenFields "item" "97078a5b-3219-4929-a1fd-b40e0068775a").user_email.value }}
[push]
	autoSetupRemote = true
[pull]
	ff = true
[color]
	ui = true
