[user]
	name = {{ (bitwardenFields "item" "アイテムのID").user_name.value }}
	email = {{ (bitwardenFields "item" "アイテムのID").user_email.value }}
[push]
	autoSetupRemote = true
[pull]
	ff = true
[color]
	ui = true
